{{#if refreet}}
<tr class="note" data-note-id={{_id}}>
  <td style = "width: 200px">
  {{orig}} refreeted  from @{{posterName}}
  </td>
  <td style = "width: 200px">
    [{{time}}]
  </td>
  <td>{{content}}</td>
  <td style = "width: 100px">
    <a href="#" class="delete-note waves-effect waves-light btn blue darken-3">Delete</a>
  </td>
</tr>

{{else}}
<tr class="note" data-note-id={{_id}}>
   <td style = "width: 200px">
     @{{posterName}}
   </td>
   <td style = "width: 200px">
     [{{time}}]
   </td>
   <td>{{content}}</td>
   <td style = "width: 100px">
     <a href="#" class="delete-note waves-effect waves-light btn blue darken-3">Delete</a>
   </td>
 </tr>
{{/if}}
