
 {{#if refreet}}
 <tr class="note" data-note-id={{_id}}>
   <td>
     <b style = "color: blue"> @{{orig}} </b> refreeted from <b style = "color: blue"> @{{posterName}}</b> <em>{{time}}</em>
   <br/> <br/>
   {{content}}
 </td>
 </tr>

 {{else}}
 <tr class="note" data-note-id={{_id}}>
   <td>
     <b style = "color: blue"> @{{posterName}} </b> <em> posted {{time}} </em>
      <br/> <br/>
     {{content}}
   </td>
  </tr>
 {{/if}}
