<div id="freets" class = "container">

  <a href="#" id="home-link" class="waves-effect waves-light btn blue darken-3">
    <i class="fa fa-chevron-left"></i>
    Back to Home
  </a>

  <br/> <br/> <br/>

  <div class = "center-align" style ="font-size: 24px">Welcome to @{{user}}'s Fritter Page!</div> <br/> <br/>
   {{#if following}}
    <div class = "center-align"> <button class="unfollow-button waves-effect waves-light btn blue darken-3" user="{{user}}"> Unfollow </button> </div>
    {{else}}
    <div class = "center-align"> <button class="follow-button waves-effect waves-light btn blue darken-3" user="{{user}}"> Follow </button> </div>
    {{/if}}

<table class = "highlight bordered">
  {{#each freets}}
    {{> freet_read}}
  {{else}}
    <p><em>This user has no freets!</em></p>
  {{/each}}
</table>

</div>
